@import "tailwindcss";

@font-face {
    font-family: 'GreatVibes';
    src: url('/fonts/GreatVibes-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora.ttf') format('truetype');
    font-weight: 400;
}

@theme {
    --color-palette-one: #050A30;
    --color-palette-two: #8B8383;
    --color-palette-three: #B79347;
    --color-palette-four: #FAF6FC;

    --animate-fadeIn: fadeIn 1s ease-in;
    --animate-fadeOut: fadeOut 1s ease-in-out;
    --animate-bounce-infinite: pulse 1.5s infinite ease-in-out;
    --animate-bounce2-infinite: pulse2 2s infinite ease-in-out;
    --animate-fadeInUp: fadeInUp 1s ease;
    --animate-fadeInDown: fadeInDown 1s ease;
    --animate-slideInUp: slideInUp 1s ease;
    --animate-slideInDown: slideInDown 1s ease;

    --drop-shadow-3xl: 0 5px 10px #B7934799;
    --drop-shadow-4xl: 0 5px 15px #B7934790;
    --drop-shadow-5xl: 0 5px 10px #050A3030;
    --drop-shadow-heart: 0 0 5px #FAF6FC;
    --drop-shadow-heart2: 0 0 20px #050A30;
    --drop-shadow-btn: 0 0 5px #050A3040;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
            -webkit-transform: scale(1.0);
        }

        to {
            opacity: 0;
            -webkit-transform: scale(1.1);
        }
    }

    @keyframes pulse {
        from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        50% {
            -webkit-transform: scale3d(1.3, 1.3, 1.3);
            transform: scale3d(1.3, 1.3, 1.3);
        }

        to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
    
    @keyframes pulse2 {
        from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

        50% {
            -webkit-transform: scale3d(1.01, 1.01, 1.01);
            transform: scale3d(1.01, 1.01, 1.01);
        }

        to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    @keyframes slideInUp {
        from {
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes slideInDown {
        from {
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
            visibility: visible;
        }

        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
}